@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --color-primary-accent: #13213c;
    --color-primary-base: #030303;
    --color-complementary-accent: #fca311;
    --color-secondary-white: #fdfdfd;
    --color-secondary-gray: #e5e5e5;
    --color-secondary-blue: #0f2a71;
}

body {
    background-color: var(--color-secondary-gray);
}
